/**********************************************
General
**********************************************/

body {
  font-family: 'Open Sans', sans-serif;
}

/*p {
  line-height: 180%;
}*/

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertically-centered-text-parent {
  display: table;
  height: inherit;
  width: 100%;
  overflow: hidden;
}

.vertically-centered-text-child {
  display: table-cell;
  vertical-align: middle;
}


/**********************************************
Header contents (with some shared footer styles)
**********************************************/

/* Header */
header {
  margin: 50px 0 100px;
}

/* Logo */
h1#logo {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 5em;
  margin: 0;
}

h1#logo img {
  height: 98px;
  vertical-align: top;
}

/* Nav */
nav {
  margin: 54px 0 0 0;
}

nav ul, footer ul {
  text-align: center;
  margin: 0;
}

nav ul li, footer ul.social_media li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li, nav ul li:hover {
  font-size: 1.4em;
  /* The bottom border is used so that the body's text will not be pushed down when the user hovers over a list item. */
  border-bottom: solid 4px;
  border-radius: 2px;
}

/* Wrapper and page content */
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#content {
  margin: 0;
  /*height: 500px;*/
}

/* Front Page */
h2.actionStatement {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 3px;
}

h2.actionStatement img {
  width: 100px;
  vertical-align: top;
}

p.actionStatement {
  font-size: 1.25em;
  text-align: center;
}

/* Contact Page */
.contactColumn {
  float: left;
  width: 30%;
  margin: 0 1.66666666666666666666666666% 150px;

  text-align: center;
}

.contactColumn p {
  font-size: 1.4em;
}

.contactColumn a {
  display: block;
}

.contactColumn i.contactIcon {
  margin: 0 auto 25px;
}

#visit-us {
  clear: both;
  margin: 150px auto 33.2px;
}

.mapColumn {
  display: inline-block;
  height: 300px;
  width: 50%;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.contact-address {
  font-size: 2em;
}

.contact-hours {
  font-size: 1.5em;
}


/* Services Page */
.servicesColumn {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.3em;
}

.servicesColumn ul li {
  margin: 0 0 50px;
}



/**********************************************
Footer (Any missing styles are located in the header section (line 22))
**********************************************/

/* Footer container */
footer {
  clear: both;
  margin: 150px 0 50px;
}

/* Social Media buttons*/
footer ul.social_media {
  margin: 40px 0;
}

/* Hours, address, and copyright formatting */
footer p.hours, footer p.address, footer p.copy {
  color: #AAA;
  text-align: center;
  margin: 15px;
  font-size: 0.75em;
}

footer p.address a, footer p.copy a {
  color: #AAA;
}

.container {
  display: inline-block;
  width: 33.333333333333333%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container ul li {
  margin: 20px;
}



/**********************************************
Colors
**********************************************/

body {
  background-color: #FEFEFE;
}

a {
  color: #000;
}

/* Navigation border colors */
.navRed, .navRed:hover {
  border-bottom-color: #FB4F4F;
}

.navBlue, .navBlue:hover {
  border-bottom-color: #6CC0E5;
}

.navGreen, .navGreen:hover {
  border-bottom-color: #2C7F42;
}

.navPurple, .navPurple:hover {
  border-bottom-color: #74286E;
}

.navSepia, .navSepia:hover {
  border-bottom-color: #704214;
}

/* This class is for the nav items that are not selected.  The bottom border persists to prevent */
/* the body from being pushed down on hover. */
.notSelected {
  border-bottom-color: #FEFEFE;
}

/** Footer Social Media icons **/
/* Facebook */
footer i.fa-facebook:hover {
  color: #3B5998;
}

/* Twitter */
footer i.fa-twitter:hover {
  color: #00ACED;
}

/* Instagram */
footer i.fa-instagram:hover {
  color: #517FA4;
}

/* Yelp */
footer i.fa-yelp:hover {
  color: #C41200;
}






/* Testing ground */


div.servicesColumn ul li {
  float: left;
  margin: 15px;
  padding: 0px;
  width: 200px;
  height:200px;
  text-align: center;
  border: solid 2px #D0D0D0;
  border-left-width: 3px;
  border-radius: 2px;
  font-size: 1.4em;

  font-family: 'Open Sans Condensed', sans-serif;
  /*background-color: red;*/
}




div.servicesColumn ul li:hover {
  color: #FEFEFE;
}

div.servicesColumn ul li span.hover_show {
  visibility: hidden;
}

div.servicesColumn  ul li:hover span.hover_show {
  visibility: visible;
}

div.servicesColumn ul li.red {
  border-left-color: #FB4F4F;
}

div.servicesColumn ul li.blue {
  border-left-color: #6CC0E5;
}

div.servicesColumn ul li.purple {
  border-left-color: #74286E;
}

div.servicesColumn ul li.green {
  border-left-color: #2C7F42;
}

div.servicesColumn ul li.red:hover {
  background-color: #FB4F4F;
  border-color: #FB4F4F;
}

div.servicesColumn ul li.blue:hover {
  background-color: #6CC0E5;
  border-color: #6CC0E5;
}

div.servicesColumn ul li.purple:hover {
  background-color: #74286E;
  border-color: #74286E;
}

div.servicesColumn ul li.green:hover {
  background-color: #2C7F42;
  border-color: #2C7F42;
}
