/**********************************************
General
**********************************************/

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertically-centered-text-parent {
  display: table;
  height: inherit;
  width: 100%;
  overflow: hidden;
}

.vertically-centered-text-child {
  display: table-cell;
  vertical-align: middle;
}



/**********************************************
Header contents (with some shared footer styles)
**********************************************/

/* Header */
header {
  margin: 30px 0 70px;
  text-align: center;
}

/* Mobile logo */
header img.mobile-logo {
  display: none;
}

/* Logo */
h1#logo {
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  margin: 0;
}

h1#logo img {
  height: 98px;
  vertical-align: top;
}

header ul.top-info {
  position: absolute;
  left: 88%;
  top: 48px;
  font-size: 1.2em;
  text-align: right;
}

header ul.top-info li.short-hours {
  display: none;
}

/* Nav */
nav {
  margin: 25px 0 0 0;
}

nav ul, footer ul {
  text-align: center;
  margin: 0;
}

nav ul li, footer ul.social_media li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li, nav ul li:hover {
  font-size: 1.4em;
  /* The bottom border is used so that the body's text will not be pushed down when the user hovers over a list item. */
  border-bottom: solid 4px;
}

/* Wrapper and page content */
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#content {
  margin: 0;
}

/* Front Page */
h2.actionStatement {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 3px;
}

h2.actionStatement img {
  width: 100px;
  vertical-align: top;
}

p.actionStatement {
  font-size: 1.25em;
  text-align: center;
}

div.home-banner {
  height: 500px;
  background-image: url("../img/desk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2500px;
  width: 100%;
  float: left;
  padding: 0;
}

div.action-statement {
  display: block;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 36.8px 50px 50px 50px;
  background:rgba(255,255,255,0.5);
}

/* Contact Page */
.contactColumn {
  float: left;
  width: 30%;
  margin: 0 1.66666666666666666666666666% 150px;
  text-align: center;
}

.contactColumn p {
  font-size: 1.4em;
}

.contactColumn a {
  display: block;
}

.contactColumn i.contactIcon {
  margin: 0 auto 25px;
}

.contactColumn p.email-label {
  display: none;
}


#visit-us {
  clear: both;
  width: 100%;
  margin: 150 auto 33.2px;
}

.mapColumn {
  display: inline-block;
  height: 300px;
  width: 50%;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.mapColumn a i.fa-map-pin {
  display: none;
}


.contact-address {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

/* CTA train line colors */
p.subway {
  margin-bottom: 0;
}
.mapColumn hr {
  display: inline-block;
  width: 20%;
  height: 7px;
  border: none;
  margin: 0;
}

p.contact-hours {
  font-size: 1.5em;
  margin: 40px auto 0;
}

/* Services Page */
/*div.servicesColumn {
  text-align: center;
}

.servicesColumn ul li {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.3em;
  line-height: 100px;
  width: 45%;
  height: 100px;
  margin: 10px;
}*/

/* Brands */
/*.container {
  display: inline-block;
  width: 33.333333333333333%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container ul li {
  margin: 20px;
}*/



/**********************************************
Footer (Any missing styles are located in the header section (line 22))
**********************************************/

/* Footer container */
footer {
  width: 100%;
  float: left;
  text-align: center;
  margin: 100px auto;
}

/* Social Media buttons*/
footer ul.social_media {
  margin: 40px 0;
}

/* Hours, address, and copyright formatting */
footer p.hours, footer p.address, footer p.copy {
  color: #AAA;
  text-align: center;
  margin: 15px;
  font-size: 0.75em;
}

footer p.address a, footer p.copy a {
  color: #AAA;
}



/**********************************************
Colors
**********************************************/

body {
  background-color: #FEFEFE;
}

a {
  color: #000;
}

/* Navigation border colors */
.navRed, .navRed:hover {
  border-bottom-color: #C60C30;
}

.navBlue, .navBlue:hover {
  border-bottom-color: #00A1DE;
}

.navOrange, .navOrange:hover {
  border-bottom-color: #F9461C;
}

.navPurple, .navPurple:hover {
  border-bottom-color: #522398;
}

.navSepia, .navSepia:hover {
  border-bottom-color: #62361B;
}

/* This class is for the nav items that are not selected.  The bottom border persists to prevent */
/* the body from being pushed down on hover. */
.notSelected {
  border-bottom-color: #FEFEFE;
}

/* CTA Train line colors */
ul.train-list li {
  display: inline-block;
  width: 20%;
  font-size: 0.4em;
}

li.brown-line {
  color: #62361B;
  background-color: #62361B;
}

li.orange-line {
  color: #F9461C;
  background-color: #F9461C;
}

li.pink-line {
  color: #E27EA6;
  background-color: #E27EA6;
}

li.purple-line {
  color: #522398;
  background-color: #522398;
}

ul.train-list li.blue-line {
  color: #00A1DE;
  background-color: #00A1DE;
  width: 80%;
}

/** Footer Social Media icons **/
/* Facebook */
footer i.fa-facebook:hover {
  color: #3B5998;
}

/* Twitter */
footer i.fa-twitter:hover {
  color: #00ACED;
}

/* Instagram */
footer i.fa-instagram:hover {
  color: #517FA4;
}

/* Yelp */
footer i.fa-yelp:hover {
  color: #C41200;
}
