/* General */

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 180%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  margin: 54px 0 100px;
}

h1#logo {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 5em;
  margin: 0;
}

h1#logo img {
  height: 98px;
  vertical-align: top;
}

nav {
  margin: 54px 0 0 0;
}

nav ul, footer ul {
  text-align: center;
  margin: 0;
}

nav ul li, footer ul.social_media li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li {
  font-size: 1.4em;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

footer {
  margin: 200px 0 54px;
}



footer ul.social_media {
  margin: 40px 0;
}

footer p.hours, footer p.address {
  color: #AAA;
  text-align: center;
  margin: 15px;
  font-size: 0.75em;
}

footer p.address a {
  color: #AAA;
}



/* Colors */

body {
  background-color: #FEFEFE;
}

a {
  color: #000;
}

/* Footer hover colors */

/* Facebook */
.fa-facebook:hover {
  color: #3B5998;
}

/* Twitter */
.fa-twitter:hover {
  color: #00ACED;
}

/* Instagram */
.fa-instagram:hover {
  color: #517FA4;
}

/* Yelp */
.fa-yelp:hover {
  color: #C41200;
}
