@media screen and (max-width: 1300px) {
 header ul.top-info {
   left: 85%;
 }
}



@media screen and (max-width: 1060px) {
  h1#logo {
    font-size: 4em;
  }

  h1#logo img {
    height: 75px;
  }

  header ul.top-info {
    font-size: 1.1em;
    top: 43px;
  }

  div.home-banner {
    height: 300px;
    width: 100%;
  }

  div.action-statement {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    float: left;
  }

  h2.actionStatement {
    margin-top: 53px;
  }

  nav ul li, nav ul li:hover {
    font-size: 1.2em;
    /* The bottom border is used so that the body's text will not be pushed down when the user hovers over a list item. */
    border-bottom: solid 3px;
  }

  div.contactColumn p {
    font-size: 1.2em;
  }
}



@media screen and (max-width: 940px) {
  header ul.top-info {
    position: inherit;
    text-align: center;
  }

  header ul.top-info li {
    display: inline-block;
    margin: 10px 30px;
  }

  p.contact-address {
    font-size: 1.4em;
  }

  p.contact-hours {
    font-size: 1.2em;
    margin-top: 30px;
  }

  div.mapColumn.right {
    height: 262px;
  }

  div.mapColumn {
    height: 262px;
  }

  div.mapColumn img {
    width: 350px;
  }
}



@media screen and (max-width: 880px) {
  div.contact h2.actionStatement {
    font-size: 2.1em;
  }

  div.contactColumn p.actual-email-address {
    display: none;
  }

  div.contactColumn p.email-label {
    display: inherit;
  }
}



@media screen and (max-width: 800px) {
  div.mapColumn {
    display: block;
    width: 100%;
  }
  div.mapColumn.right {
    margin-top: 30px;
  }

  ul.train-list li.blue-line {
    width: 350px;
  }

  ul.train-list li {
    width: 87.5px;
  }
}



@media screen and (max-width: 630px){
  div.contactColumn {
    border-radius: 5px;
  }

  div.contactColumn a i.contactIcon {
    margin: 40px auto;
  }

  div.contactColumn p, div.contactColumn p.email-label {
    display: none;
  }
}



@media screen and (max-width: 530px) {
  h1#logo {
    font-size: 3em;
  }

  h1#logo img {
    height: 56px;
  }

  div.home-banner {
    height: 300px;
    width: 100%;
    padding: 0;
  }

  h2.actionStatement {
    margin-top: 30px;
  }

  p.actionStatement {
    margin: 0;
  }

  div.action-statement {
    height: 300px;
    margin: 0;
    padding: 0;
  }
}



@media screen and (max-width: 400px) {
  div.mapColumn a img {
    display: none;
  }

  div.mapColumn a i.fa-map-marker {
    display: inline-block;
    margin-top: 40px;
  }

  div.mapColumn.left {
    height: 150px;
    width: 100%;
    padding: 0;
    border: 3px solid black;
    box-sizing: border-box;
  }

  div.mapColumn.left a {
    display: block;
    height: 150px;
    border-radius: 5px;
  }

  ul.train-list li.blue-line {
    width: 100%;
  }

  ul.train-list li {
    width: 25%;
  }

  h1#logo img {
    display: none;
  }

  h1#logo {
    margin-left:10px;
    margin-right: 10px;
    border: 3px solid black;
  }

  h2.actionStatement, p.actionStatement {
    margin-left: 10px;
    margin-right: 10px;
  }

  h2.actionStatement br {
    display: inline;
  }

  div.action-statement.wrapper {
  }

  nav ul li {
    margin: 0 15px;
  }
  header ul.top-info li {
    display: inline-block;
    width:45%;
    margin: 10px auto;
  }

  footer p.copy {
    margin: 15px 30px;
  }

/* Contact button rework */
  div.contactColumn {
    width: 45%;
    margin: 15px 0 75px;
    color: black;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 0px;
  }

  div.contactColumn.phone {
    width: 100%;
    margin: 15px auto;
  }

  div.contactColumn.email {
    margin-right: 5%;
  }

  div.contactColumn.twitter {
    margin-left: 5%;
  }


  div.contactColumn a {
    color: black;
  }
}



@media screen and (max-width: 355px) {
  header ul.top-info li.top-info-phone a {
    padding: 0.5em;
  }

  h2.actionStatement {
    margin-bottom: 10px;
  }

  footer ul.social_media li {
    margin: 0 20px;
  }
}
